<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Eagle Earth {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #611800;">
        <a href="{% url 'home' %}" class="navbar-brand">Eagle Earth</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'landing' %}" class="nav-link">Landing Page</a>
                </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'student_create' %}" class="nav-link">Edit Profile</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'profile' %}" class="nav-link">View Profile</a>
                </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'create_campaign' %}" class="nav-link">Campaign Creation</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'rewards_activity' %}" class="nav-link">Rewards</a> <!-- New Rewards link -->
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Main Content Container -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

