{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<h1 class="text-center"> Your Profile </h1>
<p class="text-center"><strong>You are a:</strong> {{ role }}</p>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>School</th>
            <th>Graduation Year</th>
            <th>Primary Major</th>
            <th>Second Major</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ student.student_id }}</td>
            <td>{{ full_name }}</td>
            <td>{{ student.user.email }}</td>
            <td>{{ student.school }}</td>
            <td>{{ student.graduation_year }}</td>
            <td>{{ student.major }}</td>
            <td>{{ student.major2 }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}