{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<h1 class="text-center"> Students</h1>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>School</th>
            <th>Graduation Year</th>
            <th>Primary Major</th>
            <th>Primary Minor</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.student_id }}</td>
            <td>{{ student.user.profile.get_full_name }}</td>
            <td>{{ student.user.email }}</td>
            <td>{{ student.school }}</td>
            <td>{{ student.graduation_year }}</td>
            <td>{{ student.major }}</td>
            <td>{{ student.minor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}