{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<br><br><br>
<section style="background-color: #eee;">
    <div class="container py-5">
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src= {{ student.profile_picture.url }} alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"> {{full_name}} </h5>
              <p class="text-center"> {{student.school}} {{student.graduation_year}}</p>
              <p class="text-center"> {{student.user.email}} </p>
              <p class="text-center"><strong>You are a:</strong> {{ role }}</p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Student ID</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"> {{student.student_id}} </p>
                  <hr>
                </div>
        
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Primary Major</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"> {{student.major}} </p>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Secondary Major</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"> {{student.major2}} </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}